/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer

*.jpeg
*.png
*.json
!build-profile.json5
!oh-package.json5
!**/resources/**/*.json
!**/element/string.json
!**/profile/main_pages.json
!hvigor/hvigor-config.json5
account-entered.json